.papier {
  padding: 10px;
  margin: 10px;
}
.papier > p {
  padding: 0;
  margin: 0;
}
.papier .moment {
  text-align: right;
  font-size: 11px;
  margin-top: 20px;
}
.papier .messages {
  font-size: 13px;
  text-align: justify;
}
