.paper_Servey {
  padding: 10px;
  cursor: pointer;
}
.paper_Servey > p {
  padding: 0;
  margin: 0;
}
.paper_title {
  font-size: 14px;
  font-weight: bolder;
}
.paper_subtitle {
  font-size: 11px;
  margin-top: 7px !important;
}
.expired_at {
  font-size: 10px;
  text-align: right;
}
